html, body, main {
    margin: 0%;
    padding: 0%;
}
*{
    margin: 0%;
    padding: 0%;
}
body{
    background: linear-gradient(270deg, #519999 0%, #5BABAB 57.37%, #458181 93.87%);

}

.caixa{
    background-color: white;
    display: flex;
}
.caixa-container {
    padding: 1em 1em 1em 1em;

}
h1{
    align-items: center;
}